.list-horizontal li {
  display:inline-block;
}

.list-horizontal li:before {
  content: '\00a0\2022\00a0\00a0';
  color:#999;
  color:rgba(0,0,0,0.5);
  font-size:11px;
}

.list-horizontal li:first-child:before {
  content: '';
}

.content-wrap {
    max-width: none;
}

body {
  background-color: black;
  font-family: cursive;
}

li {
  font-size: 15px;
  font-family: cursive;
}

.glow {
  font-size: 80px;
  color: #ffffff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

.glow2 {
  font-size: 20px;
  color: #ffffff;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 20px #000000, 0 0 30px #2E2E2E, 0 0 40px #2E2E2E, 0 0 50px #2E2E2E, 0 0 60px #2E2E2E, 0 0 70px #2E2E2E, 0 0 80px #2E2E2E;
  }
  
  to {
      text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #171717, 0 0 40px #171717, 0 0 50px #171717, 0 0 60px #171717, 0 0 70px #171717;
  }
}
